@import url(../../../../index.css);

.table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  
  /* table-layout: fixed ; */

  --column-width: calc(100%/3)

}
.caption{
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
  
}
.thead{
  position: relative;
  background: var(--background-color);
  color: rgb(167, 167, 167);
  font-weight: 300;


}
.thead>tr{}

.thead>tr::after{
  content:  '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--background-table);
  bottom: 0;
  left: 0;
}

.thead th {
  height: 50px;
  width: var(--column-width);
  margin: 0;
  padding: 0;

  text-align: center;
}

.trow{
  position: relative; 
  padding: 0;
  transition-duration:0.1s;
}

.trow>td{
  position: relative;
  width: var(--column-width);
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.trow::after{
  content:  '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--background-color);
  bottom: 0;
  left: 0;
}

.field {
  height: 20px;
  border: none;
  text-align: center;
  border-radius: 5px;

  
}
.field:focus {
  border: 1px solid rgb(202, 202, 202);
  box-shadow: none;
  outline: 0;
}

.form {
  position: relative;

}
.submitBtn {
  position: absolute;
  align-self: center;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, 0);
}


.err input{
  border: 2px solid red;
  color: red;
}
