:root {
  --background-color: rgb(226, 228, 236);
  --background-table : rgb(255, 255, 255);

  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
